# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Import data and set up path

In [5]:
df = pd.read_pickle(r'C:\Users\christina.savva\Documents\CF Achievement 4 - Instacart Basket Analysis\02 Data\Prepared Data\orders_products_agg.pkl')

In [6]:
path = r'C:\Users\christina.savva\Documents\CF Achievement 4 - Instacart Basket Analysis'

In [7]:
path

'C:\\Users\\christina.savva\\Documents\\CF Achievement 4 - Instacart Basket Analysis'

In [8]:
df_ords_prods_merge = df

In [9]:
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,order_hour_of_day_loc,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Fewest orders,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Fewest orders,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Fewest orders,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer

# 4.8.2 In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [10]:
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 4.8.3 Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

In [ ]:
#  The results are showing the full list of department IDs as opposed to only a selection from the first 1m rows in the exercise. The lowest mean has increased to 15.21 (from 11.29) and the highest has increased to 22.9 (from 19.31).

# 4.8.4 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [ ]:
#  creating the new column to classify max_order groupings

In [12]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [ ]:
#  assignung the max_order groupings

In [13]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [14]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [16]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
df_ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,order_hour_of_day_loc,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Fewest orders,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Fewest orders,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Fewest orders,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,9,New customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,9,New customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Least busy,Fewest orders,Average orders,9,New customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Most orders,33,Regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Average orders,20,Regular customer

# 4.8.5 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [ ]:
#  running summary statistics for the customer loyalty type (using loyalty_flag) and respective prices

In [18]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [ ]:
#  Result: Loyal customers purchase products with the lowest avg. price point of $10.40, followed by regular customers at $12.50, which are just 5% below new customers at avg. product prices of $13.29.

# 4.8.6 The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

# - If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

# - If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [ ]:
#  creating the new column to classify spend groupings

In [19]:
df_ords_prods_merge['spend_group'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

In [ ]:
#  assignung the spend_group groupings

In [22]:
df_ords_prods_merge.loc[df_ords_prods_merge['spend_group'] >= 10, 'spend_flag'] = 'High spender'

In [21]:
df_ords_prods_merge.loc[df_ords_prods_merge['spend_group'] < 10, 'spend_flag'] = 'Low spender'

In [23]:
df_ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_days,order_hour_of_day_loc,busiest_period_of_day,max_order,loyalty_flag,spend_group,spend_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Average orders,10,New customer,14.0,High spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Average orders,10,New customer,14.0,High spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Most orders,10,New customer,14.0,High spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Fewest orders,Average orders,10,New customer,14.0,High spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Fewest orders,Most orders,10,New customer,14.0,High spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Average orders,10,New customer,14.0,High spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer,14.0,High spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer,14.0,High spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer,14.0,High spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Fewest orders,Average orders,10,New customer,14.0,High spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer,9.0,Low spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,22,Regular customer,9.0,Low spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,22,Regular customer,9.0,Low spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer,9.0,Low spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer,9.0,Low spender
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,9,New customer,23.9,High spender
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,Most orders,9,New customer,23.9,High spender
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Least busy,Fewest orders,Average orders,9,New customer,23.9,High spender
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Most orders,33,Regular customer,15.0,High spender
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,both,Mid-range product,Regularly busy,Least busy,Fewest orders,Average orders,20,Regular customer,24.1,High spender

# 4.8.7 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

# - If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

# - If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

# - If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [ ]:
#  creating the new column to classify order frequency groupings

In [24]:
df_ords_prods_merge['order_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

In [ ]:
#  assignung the order_frequency groupings

In [25]:
df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [26]:
df_ords_prods_merge.loc[(df_ords_prods_merge['order_frequency'] <= 20) & (df_ords_prods_merge['order_frequency'] > 10), 'frequency_flag'] = 'Regular customer'

In [27]:
df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [28]:
df_ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,busiest_day,busiest_days,order_hour_of_day_loc,busiest_period_of_day,max_order,loyalty_flag,spend_group,spend_flag,order_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Regularly busy,Regularly busy,Fewest orders,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regularly busy,Least busy,Fewest orders,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regularly busy,Least busy,Fewest orders,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Least busy,Least busy,Fewest orders,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Least busy,Least busy,Fewest orders,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Regularly busy,Regularly busy,Fewest orders,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Regularly busy,Busiest days,Fewest orders,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Least busy,Least busy,Fewest orders,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Regularly busy,Regularly busy,Fewest orders,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Regularly busy,Regularly busy,Fewest orders,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Regularly busy,Busiest days,Fewest orders,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,Regularly busy,Regularly busy,Fewest orders,Most orders,9,New customer,23.9,High spender,20.0,Regular customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,Regularly busy,Regularly busy,Fewest orders,Most orders,9,New customer,23.9,High spender,20.0,Regular customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,Least busy,Least busy,Fewest orders,Average orders,9,New customer,23.9,High spender,20.0,Regular customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,Regularly busy,Least busy,Fewest orders,Most orders,33,Regular customer,15.0,High spender,30.0,Non-frequent customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,Regularly busy,Least busy,Fewest orders,Average orders,20,Regular customer,24.1,High spender,10.0,Frequent customer

In [ ]:
#  checking median of frequency groupings

In [33]:
df_ords_prods_merge.groupby('frequency_flag')['days_since_prior_order'].median()

frequency_flag
Frequent customer        4.0
Non-frequent customer    9.0
Regular customer         6.0
Name: days_since_prior_order, dtype: float64

In [34]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_4.8_task.pkl'))